{
    "presets": [
      "@babel/preset-env",
      [
        "@babel/preset-react",
        {
          "runtime": "automatic"
        }
      ],
      "@babel/preset-typescript"
    ],
    "plugins": [
      [
        "@babel/plugin-transform-runtime", // to use async await
        {
          "regenerator": true
        }
      ]
    ]
  }

  // this file is to transpile modern javascript features into a format browsers can understand