.container {
  width: 20%;
  max-width: 80px;
  background-color: #042235;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icons {
  padding: 21px;
  margin-bottom: 5px;
}
